
<div class="inline-flex flex-row -left-1">
    <div id="title-shape" class="bg-light-mode-primary w-1 h-0 mr-1"></div>
    <div class="relative overflow-hidden">
        <div class="inline-flex flex-col">
            <p id="title-name" class="text-3xl font-medium text-light-mode-shade select-none -mb-1 -mt-[7px]">
                <span id="title-first-name-s" class="text-light-mode-primary overflow-hidden absolute z-10">S</span>
                <span class="opacity-0">S</span>
                <span class="letter-remaining opacity-0">I</span>
                <span class="letter-remaining opacity-0">M</span>
                <span class="letter-remaining opacity-0">O</span>
                <span class="letter-remaining opacity-0">N</span>
                <span class="letter-remaining opacity-0">&nbsp;</span>
                <span id="title-last-name-f" class="overflow-hidden absolute z-10">F</span>
                <span class="opacity-0">F</span>
                <span class="letter-remaining opacity-0">L</span>
                <span class="letter-remaining opacity-0">O</span>
                <span class="letter-remaining opacity-0">H</span>
                <span class="letter-remaining opacity-0">R</span>
            </p>
            <p id="title-designation" class="text-sm select-none text-light-mode-shade opacity-0">full-stack software engineer</p>
        </div>
    </div>
</div>
