<div id="main-content-div" class="flex flex-row p-[32px] text-light-mode-shade font-serif place-content-start">
    <div class="flex flex-col place-content-center w-[50%] z-1000">
        <div class="flex flex-col w-fit self-center">
            <img src="../../../../assets/img/simon.jpg" alt="Photo of Simon Flohr" class="rounded-full w-35 h-35 mb-4 drop-shadow-light-theme"/>
            <h1 class="mb-4 font-serif text-6xl font-extralight select-none">Hi, I'm <span class="font-semibold">Simon</span>.</h1>
            <p class="mb-5 max-w-150 text-xl select-none">As a full-stack software engineer, I’m passionate about creating innovative, scalable solutions. I empower change through elegant code and creative designs.</p>
            <div>
                <button id="more-about-me-button" type="button" class="py-2 px-4 bg-light-mode-shade hover:bg-dark-mode-neutral-two transition-colors duration-200 text-light-mode-bright font-sans rounded-xs drop-shadow-light-theme">more about me</button>
                <button id="see-projects-button" type="button" class="py-2 px-4 ml-2 bg-light-mode-primary hover:bg-light-mode-primary-brighter transition-colors duration-200 text-light-mode-bright font-sans rounded-xs drop-shadow-light-theme">see projects</button>
            </div>
        </div>
    </div>
    <div class="flex scale-100 max-3xl:scale-80 max-2xl:scale-60 max-xl:scale-45 max-lg:scale-30">
        <app-greek-statue></app-greek-statue>
    </div>
</div>