<div class="relative">
    <img id="greek-statue" src="../../../../assets/img/greek-statue.png" alt="Illustration of a Greek statue with a laptop on his lap" class="absolute -top-55 left-0 max-w-fit max-h-fit z-10"/>
    <img id="cloud-one" src="../../../../assets/img/cloud-one.png" class="absolute -top-65 left-20 max-w-fit max-h-fit z-1 mix-blend-screen scale-30 opacity-75"/>
    <img id="cloud-two" src="../../../../assets/img/cloud-two.png" class="absolute -top-95 -left-35 max-w-fit max-h-fit z-1 mix-blend-screen scale-30 opacity-75"/>
    <img id="cloud-three" src="../../../../assets/img/cloud-three.png" class="absolute -top-50 -left-60 max-w-fit max-h-fit z-1 mix-blend-screen scale-35 opacity-75"/>
    <div id="bg-rect" class="absolute w-500 h-500  bg-light-mode-bright -top-80 -left-10 z-0"></div>
    <div id="circle" class="absolute w-80 h-80 rounded-full bg-light-mode-extra-color-one -top-40 left-55 z-0"></div>
</div>
