<div class="relative">
    <img src="../../../../assets/img/greek-statue.png" alt="Illustration of a Greek statue with a laptop on his lap" class="absolute -top-55 left-0 max-w-fit max-h-fit z-10"/>
    <img src="../../../../assets/img/cloud-one.png" class="absolute -top-65 left-40 max-w-fit max-h-fit z-1 mix-blend-screen scale-30 opacity-75"/>
    <img src="../../../../assets/img/cloud-two.png" class="absolute -top-105 -left-40 max-w-fit max-h-fit z-1 mix-blend-screen scale-30 opacity-75"/>
    <img src="../../../../assets/img/cloud-three.png" class="absolute -top-45 -left-80 max-w-fit max-h-fit z-1 mix-blend-screen scale-30 opacity-75"/>
    <div class="absolute w-500 h-500  bg-light-mode-bright -top-80 -left-10 z-0"></div>
    <div class="absolute w-80 h-80 rounded-full bg-light-mode-extra-color-one -top-40 left-55 z-0"></div>
</div>
