<div class="flex flex-row border border-light-mode-neutral m-5 h-[calc(100vh-40px)] w-[calc(100vw-40px)] rounded-xs place-self-center overflow-hidden">
    <div class="flex flex-col justify-between min-w-[300px]">
        <div class="flex flex-col">
            <app-title class="flex pl-[32px] mt-10 h-fit"></app-title>
            <app-nav-desktop class="flex m-10 h-fit"></app-nav-desktop>        
        </div>
        <app-socials class="ml-10 mb-10 h-fit"></app-socials>
    </div>
    <div class="flex flex-col place-content-center w-dvw">
        <app-home-main></app-home-main>
    </div>
</div>